version: "3.9"

services:
  backend:
    build:
      context: ./backend/django-appointment
    container_name: backend
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
